<div id="regiment" class="text-center">
  <p>Cette page est temporaire, des changements sont attendus.</p>
  <!-- <ul class="flex">
    <li class="guard">
      <h3>Maréchal d'empire</h3>
      <ul>
        <li>
          <a routerLink="/user/1">Mar | Persess</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="flex">
    <li class="guard">
      <h3>Officiers de la garde impériale</h3>
      <ul>
        <li>
          Lt | Bredele
        </li>
      </ul>
    </li>
    <li class="guard">
      <h3>Sous-Officiers de la garde impériale</h3>
      <ul>
        <li>
          <a routerLink="/user/2">Adj | Omegatho</a>
        </li>
        <li>Bri | Odeb Flantier</li>
        <li>ChB | Darin</li>
        <li>Ged | Daniel</li>
        <li>Sg-M | Lewi Ski</li>
        <li>Sgt | TheTheCrack</li>
      </ul>
    </li>
  </ul>
  <ul class="flex">
    <li class="guard">
      <h3>Grenadiers de la vieille garde</h3>
      <ul>
        <li>GH | Franck La Forge</li>
      </ul>
    </li>
    <li class="guard">
      <h3>Chasseurs de la vieille garde</h3>
      <ul>
        <li>Ch.1 | Faiseur de veuve</li>
        <li>
          <a routerLink="/user/3">Ch.2 | Eugène Deflandre</a>
        </li>
        <li>Ch.2 | Plankton</li>
      </ul>
    </li>
  </ul>
  <ul class="flex">
    <li class="guard">
      <h3>Moyenne garde impériale</h3>
      <ul>
        <li>Dra 1 | Méléagant</li>
        <li>Dra 2 | Xalenko</li>
        <li>Fl.Gr | Georges de Lasalle</li>
        <li>Vel.2 | Tomcanon</li>
        <li>Vel.2 | Arthy</li>
      </ul>
    </li>
    <li class="guard">
      <h3>Artillerie de la garde impériale</h3>
      <ul>
        <li>Svt.1 | thebarnowl</li>
      </ul>
    </li>
    <li class="guard">
      <h3>Unité de support de la garde impériale</h3>
      <ul>
        <li>Aux 2 | ValeArion</li>
        <li>Ch.Aux | Spitch</li>
        <li>E.Aux | Mad</li>
      </ul>
    </li>
  </ul>
  <ul class="flex">
    <li class="guard">
      <h3>Jeune garde impériale</h3>
      <ul>
        <li>Car | Charles Jarnac</li>
        <li>Car | floflo38</li>
        <li>Car | JoXiS</li>
        <li>Car | Mike</li>
        <li>Fsl | Julio Djaine</li>
        <li>Fsl | KuroNyra</li>
        <li>Rec | Henri</li>
      </ul>
    </li>
  </ul> -->
  <div *ngFor="let position of positions">
    <ul class="flex">
      <li class="guard" *ngFor="let guard of getGuardsWithPosition(position)">
        <h3>{{ guard.name }}</h3>
        <ul>
          <li *ngFor="let user of getUsersOfGuard(guard.id)">
            <a [routerLink]="'/user/'+ user.id">{{ user.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
