<div id="user" *ngIf="user">
  <p>Cette page est temporaire, des changements sont attendus.</p>
  <div class="avatar">
    <img [src]="user.avatar" />
  </div>
  <div>
    <h2>
      {{ user.name }}
      <ul>
        <ng-container *ngIf="decorations">
          <li *ngFor="let decoration of decorations">
            <img *ngIf="decoration.imageURL" [src]="decoration.imageURL" [title]="decoration.description" />
          </li>
        </ng-container>
        <ng-container *ngIf="medals">
          <li *ngFor="let medal of medals">
            <img *ngIf="medal.imageURL" [src]="medal.imageURL" [title]="medal.name" />
          </li>
        </ng-container>
        <ng-container *ngIf="medals">
          <li *ngFor="let ribbon of ribbons">
            <img *ngIf="ribbon.imageURL" [src]="ribbon.imageURL" [title]="ribbon.description" />
            <div class="blankImg" *ngIf="!ribbon.imageURL" [title]="ribbon.description"></div>
          </li>
        </ng-container>
        <!-- <li><img src="https://cdn.discordapp.com/emojis/490464157397811202.png?v=1&size=32" /></li>
        <li><img src="https://cdn.discordapp.com/emojis/490477907584614411.png?v=1&size=32" /></li>
        <li><img src="https://cdn.discordapp.com/emojis/472040303403204608.png?v=1&size=32" /></li>
        <li><img src="https://cdn.discordapp.com/emojis/473955842182479894.png?v=1&size=32" /></li> -->
      </ul>
    </h2>
    <h3 *ngIf="guard">{{ guard.name }}{{ rank.name ? ' | ' + rank.name :  '' }}</h3>
  </div>
</div>