#user > div {
  display: inline-block;
  vertical-align: top;
}

.avatar {
  border-radius: 64px;
  font-size: 0;
  overflow: hidden;
  margin-right: 20px;
}

h3 {
  margin: 0;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    li {
      display: inline-block;
      vertical-align: middle;
      img, div {
        max-width: 24px;
        max-height: 24px;
        margin-right: 5px;
        cursor: help;
      }
    }
  }
}

h4 {
  margin: 5px 0;
}

.blankImg {
  width: 30px;
  height: 10px;
  background-color: #DDD;
}