<header>
  <nav>
    <!-- TODO: Add an active class -->
    <ul>
      <li>
        <button disabled>Accueil</button>
      </li>
      <li>
        <button routerLink="/hall">Hall Of Fame</button>
      </li>
      <li>
        <button routerLink="/regiment">Régiment</button>
      </li>
      <li>
        <button routerLink="/calendar">Calendrier</button>
      </li>
      <li>
        <button routerLink="/contact">Contact</button>
      </li>
      <li>
        <button disabled>Se connecter</button>
      </li>
      <!--
      <li>
        <button disabled>Déconnexion</button>
      </li>
      -->
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>