/* You can add global styles to this file, and also import other style files */

:root {
  --large-width: 1200px;
  --dark-gray: #232323;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}